<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>BlueAvg</key>
		<integer>85</integer>
		<key>error</key>
		<integer>10</integer>
	</dict>
	<key>suggest</key>
	<array>
		<dict>
			<key>BlueAvg</key>
			<integer>70</integer>
			<key>LockType</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>100</integer>
			<key>LockType</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>83</integer>
			<key>LockType</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>80</integer>
			<key>LockType</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>93</integer>
			<key>LockType</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>76</integer>
			<key>LockType</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>80</integer>
			<key>LockType</key>
			<integer>95</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>100</integer>
			<key>LockType</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>100</integer>
			<key>LockType</key>
			<integer>97</integer>
		</dict>
		<dict>
			<key>BlueAvg</key>
			<integer>78</integer>
			<key>LockType</key>
			<integer>101</integer>
		</dict>
	</array>
</dict>
</plist>
